* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #acb4df;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}
.container {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

.card {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: #008cba;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.card.active {
  transform: rotateY(0);
  background-color: #000000;
  pointer-events: none;
  opacity: 0.7;
}
.card.correct {
  background-color: #65e469;
  pointer-events: none;
  opacity: 0.7;
}
.card.wrong {
  background-color: #fd245a;
}

svg {
  fill: white;
  margin-top: 50;
}
